<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="light-green-bg">
  <div class="container">
    <h1>Your Expense Graphs</h1>
    <div >
      <img src="{{ url_for('static', filename=pie_chart_filename) }}" alt="Pie Chart">
      <img src="{{ url_for('static', filename=bar_chart_filename) }}" alt="Bar Chart">
    </div>
  </div>
</body>
</html>
